@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.head-text::before {
  content: "";
  display: flex;
  width: 4px;
  height: 100%;
  background: #52c0e5;
  margin-right: 12px;
}
